{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th colspan="3">Détail du panier</th>
                <th>
                    <a href="{{ path('app_panier_vider') }}" title="Vider le panier">
                <i class="fa fa-trash"></i>
                    </a>
                </th>
            </tr>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Qté</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for ligne in panier %}
            <tr>
                <td>{{ ligne.produit.titre }}</td>
                <td><span>{{ ligne.produit.prix }}</span>€</td>
                <td>
                    <span>{{ ligne.quantite }}</span>
                
                    <div class="d-inline-flex flex-column justify-content-between">
                        <button class="btn btn-primary" id="plus-{{ligne.produit.id}}" formaction="{{ path("app_panier_ajouter_card", {id: ligne.produit.id}) }}">+</button>
                        <button class="btn btn-danger" id="minus-{{ligne.produit.id}}" formaction="{{ path("app_panier_ajouter_card", {id: ligne.produit.id}) }}">-</button>         
                    </div>                
                </td>                
                <td>
                    <span>{{ ligne.quantite * ligne.produit.prix }}</span>€
                    <a href="{{ path("app_panier_supprimer", {id: ligne.produit.id}) }}" title="Supprimer un article">
                    <i class="fa fa-times text-danger">sup</i>
                    </a>           
                </td>
            </tr>
        {% set total = total + ligne.quantite * ligne.produit.prix %}
            
        {% else %}
            <tr>
                <td colspan="4">Le panier est vide... pour l'instant</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot class="thead-dark">
            <tr>
                <th colspan="3">Total</th>
                <td>{{ total }} €
                {% if panier|length %}
                    <a href="{{ path('app_panier_valider') }}" class="btn btn-success float-right">
                        <i class="fa fa-cash-register">sup</i>
                    </a>
                {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>

<script>
    window.addEventListener("load", () => {
        $( document ).ready(function() {
            $("button").click(function(event){
                event.preventDefault();
                let id = $(this).attr("id");
                let url = $(this).attr("formaction");
                let prixTotal = parseFloat($(this).parents("td").next().children("span").html());
                let qteInitiale = parseInt($(this).parents("td").children("span").html());            
                let prixUnite = parseInt($(this).parents("td").prev().children("span").html());            
                let arr = id.split('-');
                if(arr[0] == "plus") {                   
                    qte = 1;             
                    $(this).parents("td").next().children("span").html(prixTotal+prixUnite);
                    $(this).parents("td").children("span").html(qteInitiale+qte);  
                } else if(arr[0] == "minus") {                
                    qte = -1; 
                    $(this).parents("td").next().children("span").html(prixTotal-prixUnite);
                    $(this).parents("td").children("span").html(qteInitiale+qte);
                } 
                
                $.ajax({
                    url: url,
                    data: "qte=" +  qte,
                    dataType: "json",
                    success: (data) => {$("#nombre").html("");
                        $("#nombre").html(data);
                        console.log("nb produits dans le panier = " + data);
                    },
                    error: (jqXHR,status, error) => {
                        console.log("ERREUR AJAX" , status,error);
                    }
                });           
            });
        });
    });
</script>
{% endblock %}