{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
{# {% for message in app.flashes('success') %}
    <div class="success">
        {{ message }}
    </div>
{% endfor %} #}
    <div class="card-deck">
        {% for produit in listeProduits %}
            {{ include("produit/card.html.twig") }}
        {% else %}
            Aucun produit enregistré
        {% endfor %}
    </div>

{% endblock %}
