<div class="col-4 my-2">
    <div class="card" style="style="margin-right: 0;margin-left: 0;"">
        <img class="card-img-top mx-auto w-100" src="{{ asset(image_path ~ produit.photo ) }}" alt="{{ produit.titre }}">
        <div class="card-body">
            <h5 class="card-title">Nom : {{ produit.titre }}</h5>
            <p class="card-text">Référence : {{ produit.reference }}</p>
            <p class="card-text">Catégorie : {{ produit.categorie }}</p>
            <p class="card-text">Prix : {{ produit.prix }} €</p>
            <p class="card-text">Stock : {{ produit.stock }}</p>
            <a href="{{ path('app_produit_show', {id: produit.id}) }}" class="btn btn-primary">Voir</a>            
            <input name="qte" type="number" value="1"  id="field{{ produit.id }}">
            <button class="btn btn-warning" id="form{{ produit.id }}">
                <i class="fa fa-cart-arrow-down"></i>
            </button>        
        </div>
    </div>
</div>



<script>
window.addEventListener("load", () => {
    //console.log($("#field{{ produit.id }} [name='qte']").val());
    $("#form{{ produit.id }}").on("click",(evtSubmit) => {
        evtSubmit.preventDefault();
        $.ajax({
            url: "{{ path('app_panier_ajouter', {id: produit.id}) }}",
            data: "qte=" +  $("#field{{ produit.id }} [name='qte']").val(),
            dataType: "json",
            success: (data) => {
                $("#nombre").html(data);
                console.log("nb produits dans le panier = " + data);
            },
            error: (jqXHR,status, error) => {
                console.log("ERREUR AJAX" , status,error);
            }
        });
    });
});

</script>