$primary: #0c4823;
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
// @import "~glightbox/scss/bootstrap";


body {
    background-color: white;
}
.vignette {
    height: 100px;
    width: auto;
}
